@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    box-sizing: border-box;
}

/* * {
  overflow-anchor: none !important;
} */

html {
    --color-white: #ffffff;
    --color-off-white: #f6f1e9;
    --color-cream: #D9D2C2;
    --colo-dark-cream: #BFB1A8;
    --button-border-radius: 5px;
    --color-ui: rgb(36, 51, 82);
    --color-ui-dark: rgb(28, 39, 58);
    --color-ui-opaque: rgba(36, 51, 82, 0.19607843137254902);
    --color-ui-extra-opaque: rgba(36, 51, 82, 0.11764705882352941);
    --color-ui-light: rgb(42, 66, 118);
    --color-cta:  #d6731a;
    --color-cta-light: #ea7e1e;
    --color-cta-dark: #cd6815;
    --color-success: #736b1e;
    --color-success-opaque:  #736b1e33;
    --color-alert: #bf1b1b;
    --color-alert-opaque: #bf1b1b33;
    --color-warning:  #d6731a;
    --color-warning-opaque: #d6731a33;
    --color-text: #333;
    --color-header: #333;
    --color-grey: #BFB1A8;
    --color-grey-medium: #D9D2C2;
    --color-light-grey: #f6f1e9;
    --button-front-color-cta: #FFFFFF;
    --button-front-color-ui: #FFFFFF;
    --button-front-color-light: #000000;
    --button-box-shadow-blur: 0;
    --button-box-shadow-offset-x: 0;
    --button-box-shadow-offset-y: 4px;
    --button-box-shadow-spread-radius: 0;
    --input-border-width: 2px;
    --input-border-radius: 5px;
    --font-family: "Poppins", sans-serif;
    --font-family-heading: "Poppins", sans-serif;
    --font-family-monospace: "Inconsolata", monospace;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(247,247,247);
}

.sidebar {
    font-size: 14px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 450px;
    background-color: var(--color-ui);
    color: var(--color-white);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-white) var(--color-ui);
    transition: transform 0.3s ease;
}

.content {
    margin-left: 450px;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.toggle-button {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--color-ui);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000; /* Ensure it is above other elements */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        display: none
    }

    .sidebar.visible {
        transform: translateX(0);
        display: block;
    }

    .content {
        margin-left: 0;
    }

    .toggle-button {
        display: block;
    }
}

.hidden {
    display: none;
}

